/* FONTS
 Stylized = font-family: 'VT323', monospace;
 font-weight availabe = 400
 Basic = font-family: 'Inconsolata', monospace;
font-weight availabe = 300, 600, 900
 */
/* COLOUR PALLET
Dark Purple = #511c48
Light Purple = #b87dad
light Gray = #bebebe
Dark Gray = #292929
 */
body {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}
h3
{
  font-size: 20px;
}

p, a {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 20px;
}

/************************************
          Generic Classes
*************************************/

.padded {
  padding: 9% 7%;
}

.lightBacking {
  background-color: #b87dad;
  color: #511c48;
}

.lightBacking p {
  color: #292929;
}

.darkBacking {
  background-color: #511c48;
  color: #b87dad;
}

.darkBacking p,a {
  color: #bebebe;
}

.grayBacking {
  background-color: #292929;
  color: #bebebe;
}

.lightButton {
  margin: 2%;
  background-color: #b87dad;
  border-radius: 10px;
  color: #292929;
  font-size: 16px;
  padding: 5px 20px;
  border: solid #511c48 2px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  text-decoration: none;
}

.lightButton:hover {
  background: #511c48;
  color: #bebebe;
}

.darkButton {
  margin: 2%;
  background-color: #511c48;
  border-radius: 10px;
  color: #bebebe;
  font-size: 16px;
  padding: 5px 20px;
  border: solid #b87dad 2px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  text-decoration: none;
}

.darkButton:hover {
  background: #b87dad;
  color: #292929;
}

.green
{
  background-color: #14e916;
}
.blue
{
  background-color: #050df6;
}
.magenta
{
 background-color: #fa06f1;
}
.cyan
{
  background-color: #06edea;
}
.yellow
{
  background-color: yellow;
}
.red
{
  background-color: #fa0608;
}
.crystalBlue {
  background-color: #ccddff;
}


.buttonSection
{
  padding: 15% 0%;
}

.basicBtn
{
  height: 100px;
  width: 100px;
  border-radius: 25px;
  border: solid #000 5px;
  margin: 5%;
}
.basicBtn:hover
{
  box-shadow: 0 0 5px #bebebe;
}

.pressed
{
  background-color: #bebebe;
}

.counterTitle
{
  font-size: 36px;
}
.counterBtn
{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: solid black 10px;
  /* background-color: #ff0000; */
}
.counterBtn:hover
{
box-shadow: 0 0 25px #bebebe;
}
.counterPressed
{
background-color: #aa0000;
}

.toggleBtn
{
  width: 150px;
  height: 150px;
  border-radius: 25px;
  border: double black 10px;
  margin: 0 5%;
}
.toggleBtn:hover
{
  box-shadow: 0 0 5px #bebebe;
}

#colorChanger
{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: solid black 10px;
}

.noiseButton
{
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: solid black 5px;
}
.noiseButton:hover
{
  box-shadow: 0 0 10px #bebebe;
}

.backwordsButton {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  border: solid black 3px;
  margin: 0 2%;
}
.BBpressed
{
  background-color: #bebebe;
}
.Magic8Ball
{
width: 600px;
height: 200px;
font-size: 42px;
color: white;
}
.Magic8Ball:hover
{
  box-shadow: 0 0 15px #bebebe;
}
.Magic8BallPressed
{
background-color: white;
}
.trickySection
{
  height: 500px;
  text-align: left;
}
.trickyButton
{
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: solid black 3px;
  margin: 0;
  position: relative;
  top: 225px; /*Starts at 225px range is from 0 to 450px */
  left: 50%; /*Starts at 50% rance is 10% to 90% at 10% intervals*/
}
.trickyButton:hover
{
  border-style: dashed;
}
.toggleAllBtn
{
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: solid black 7px;
  margin: 0 5%;

}
.togHover
{
  box-shadow: 0 0 10px #bebebe;
}
.toggleAllBtnPressed
{
  background-color: #bebebe;
}

.sizeBtn
{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: solid black 3px;

}
.sizeBtn:hover
{
  border-color: #fff;
}

.topBorder{
  border-top: 20px;
  border-top-color: #292929;
  border-top-style: double;
  /* width: 80%; */
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.bottomBorder
{
  border-bottom: 20px;
  border-bottom-color: #292929;
  border-bottom-style: double;
  /* width: 80%; */
  border-top: none;
  border-left: none;
  border-right: none;

}
