/* FONTS
 Stylized = font-family: 'VT323', monospace;
 font-weight availabe = 400
 Basic = font-family: 'Inconsolata', monospace;
font-weight availabe = 300, 600, 900
 */
/* COLOUR PALLET
Dark Purple = #511c48
Light Purple = #b87dad
light Gray = #bebebe
Dark Gray = #292929
 */
body {
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}
h3
{
  font-size: 20px;
}

p, a {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 20px;
}

/************************************
          Generic Classes
*************************************/

.padded {
  padding: 9% 7%;
}

.lightBacking {
  background-color: #b87dad;
  color: #511c48;
}

.lightBacking p {
  color: #292929;
}

.darkBacking {
  background-color: #511c48;
  color: #b87dad;
}

.darkBacking p,a {
  color: #bebebe;
}

.grayBacking {
  background-color: #292929;
  color: #bebebe;
}

.lightButton {
  margin: 2%;
  background-color: #b87dad;
  border-radius: 10px;
  color: #292929;
  font-size: 20px;
  padding: 10px 40px;
  border: solid #511c48 2px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  text-decoration: none;
}

.lightButton:hover {
  background: #511c48;
  color: #bebebe;
}

.darkButton {
  margin: 2%;
  background-color: #511c48;
  border-radius: 10px;
  color: #bebebe;
  font-size: 16px;
  padding: 5px 20px;
  border: solid #b87dad 2px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}

.darkButton:hover {
  background: #b87dad;
  color: #292929;
}

td
{
  width: 20%;
  padding: 0% 1%;
}

/*********************************************
      Goretober2021 Styling
**********************************************/
/* Larger Responsive Text */
@media (min-width: 993px)
{
h1
{
font-size: 92px;
}
h2
{
 font-size: 60px;
}
h3
{
  font-size: 26px;
}
p
{
font-size: 26px;
}
}
/* Small Responsive Text */
@media (max-width: 768px)
{
  h1
  {
    font-size: 52px;
  }
  h2
  {
    font-size: 18px;
  }
  h3
  {
    font-size: 12px;
  }
  p
  {
    font-size: 12px;
  }
}

.spotlightImg
{
  width: 100%;
}
.lineImg
{
  width: 100%;
}
.BlurbLeft
{
  padding: 5%;
}
.BlurbLeftText
{
text-align: left;
}
.BlurbRight
{
  padding: 5%;
}
.BlurbRightText
{
text-align: right;
}
.String
{
  padding: 0% 5%;
}

/***********************
    Goretober 2020
************************/
.mainBlock
{
  padding: 20% 5%;
}
.lgImg
{
  width: 100%;
  margin: 5% 0;
}
.mdImg
{
  width: 80%;
  margin: 2% 0;
}
.smImg
{
  width: 65%;
  margin: 1% 0;
}
.xsImg
{
  width: 50%;
  margin: 1% 0;
}
.goretoberBlock
{
padding: 0%;
}
.alignLeft
{
  text-align: left;
}
.alignRight
{
  text-align: right;
}
.alignCenter
{
  text-align: center;
  display: alignCenter;
}
.xsDown
{
margin-top: 5%;
}
.smDown
{
  margin-top: 10%;
}
.mdDown
{
margin-top: 25%;
}
.lgDown
{
  margin-top: 50%;
}
