/* FONTS
 Stylized = font-family: 'VT323', monospace;
 font-weight availabe = 400
 Basic = font-family: 'Inconsolata', monospace;
font-weight availabe = 300, 600, 900
 */
/* COLOUR PALLET
Dark Purple = #511c48
Light Purple = #b87dad
light Gray = #bebebe
Dark Gray = #292929
 */
body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 28px;
}

p, a {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 20px;
}

/************************************
          Generic Classes
*************************************/
.padded {
  padding: 9% 7%;
}

.lightBacking {
  background-color: #b87dad;
  color: #511c48;
}

.lightBacking p {
  color: #292929;
}

.darkBacking {
  background-color: #511c48;
  color: #b87dad;
}

.darkBacking p,a {
  color: #bebebe;
}

.grayBacking {
  background-color: #292929;
}

/*******************************
            Intro
 S********************************/
.Intro {
  text-align: left;
}

.BioPic {
  width: 100%;
}

.Intro h1 {
  font-size: 48px;
}

@media (max-width: 992px) {
  .Intro {
    text-align: center;
  }

  .Intro h1 {
    font-size: 62px;
  }

  .Intro h3 {
    font-size: 36px;
  }

  .BioPic {
    width: 70%;
  }

  .Intro p {
    font-size: 24px;
  }
}

/**************************
       ArtProjects
***************************/
.ArtProjects {
   padding: 3% 7%;
}
.ArtProjects h1
{
padding-bottom: 2%;
}
.carousel-item {
  background-color: #292929;
  padding: 2% 3%;
}

.artText {
  text-align: left;
  font-size: 24px;
  text-decoration: none;
}
.artText:hover
{
  color: #bebebe;
}
.artHeader
{
  text-align: left;
  padding-top: 2%;
  font-size: 36px;
}
.artImg {
  width: 90%;
  padding: 7% 0;
}
.artLink
{
  position: absolute;
  left: 35%;
  bottom: 8%;
}


@media (max-width: 992px)
{

  .carousel-item
  {
    padding: 5% 5%;
  }
  .artHeader {
    text-align: center;
    font-size: 36px;
  }
.artText {
  font-size: 20px;
}
  .artImg {
    width: 80%;
    padding: 3% 0;
  }
  .artLink
  {
    bottom: 3%;
    left: 7%;
  }

}

/*******************************
             Websites
***********************************/
.Websites {
  background-color: #292929;
  color: #bebebe;
}

.WebImg {
  width: 60%;
}

/*********************************
         Button Page
**********************************/
.buttonPage {
  padding: 15% 7% 2%;
}

.buttonText {
  font-size: 72px;
}

.LikeEm {
  background-color: #b87dad;
  border-radius: 10px;
  color: #292929;
  font-size: 20px;
  padding: 10px 40px;
  border: solid #511c48 2px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  margin-top: 7%;
  text-decoration: none;
}

.LikeEm:hover {
  background: #511c48;
  color: #bebebe;
}

.far-right {
  margin-top: 10%;
  text-align: right;
}

.simon {
  background-color: #b87dad;
  border-radius: 10px;
  color: #292929;
  font-size: 12px;
  padding: 5px 10px;
  border: solid #511c48 1px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}

.simon:hover {
  background: #511c48;
  color: #bebebe;
}

/************************
        ContactMe
************************/
.ContactMe {}

.ContactEm {
  background-color: #511c48;
  border-radius: 10px;
  color: #bebebe;
  font-size: 16px;
  padding: 5px 20px;
  border: solid #b87dad 2px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}

.ContactEm:hover {
  background: #b87dad;
  color: #292929;
}

.ContactMe h4 {
  padding-bottom: 5%;
  color: #bebebe;
}

/**********************
    GORETOBER SITE
**********************/


/**************************
  Under Construciton Page
***************************/

.UnderCon
{
  padding: 7%;
}
.UnderCon h1
{
  font-size: 64px;
}
