/* FONTS
 Stylized = font-family: 'VT323', monospace;
 font-weight availabe = 400
 Basic = font-family: 'Inconsolata', monospace;
font-weight availabe = 300, 600, 900
 */
/* COLOUR PALLET
Dark Purple = #511c48
Light Purple = #b87dad
light Gray = #bebebe
Dark Gray = #292929
 */
body {
  text-align: center;
  margin: 0;
  background-color: #b87dad;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'VT323', monospace;
}

p {
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
}

hr{
  border-top: 15px;
  border-top-color: #511c48;
  border-top-style: double;
  /* width: 80%; */
  border-bottom: none;
  border-left: none;
  border-right: none;
  }


.textBox
{
  width: 55%;
  display: inline-block;
  /* overflow: hidden; */
  vertical-align: top;

}
.pictureBox
{
  width: 40%;
  display: inline-block;
}
/************************************
          Generic Classes
*************************************/
.padded {
  padding: 5%;
  padding-top: 10%;
}

.lightBacking {
  background-color: #b87dad;
  color: #511c48;
}

.lightBacking p,a {
  color: #292929;
}

.darkBacking {
  background-color: #511c48;
  color: #b87dad;
}

.darkBacking p,a {
  color: #bebebe;
}

.grayBacking {
  background-color: #292929;
}

.picture {
  width: min(100%, 500px);
}
.pictureFull{
  width: 80%;
}
.fadePicture{
  border-radius: 50px;
}
.heading{
  font-size: 106px;
  margin: 5px;
}
.title{
  font-size: 72px;
  margin: 5px;
}
.subtitle{
   font-size: 42px;
  margin: 5px;
}
.bodyText
{
  font-size: 24px;

}
.smallScreen{
  display: none;
}

@media(max-width:1200px) {
  .subtitle{
     font-size: 36px;
    margin: 5px;
  }
  .bodyText
  {
    font-size: 20px;

  }
}

@media (max-width: 992px) And (min-width: 685px) {
  .bodyText
  {
    width: 600px;
    margin: 0 auto;
  }

}
@media (max-width: 992px) {
  .title
  {
    font-size: 56px;
  }
  .textBox
  {
    width: 100%;
  }
  .pictureBox
  {
    width: 40%;
  text-align: center;
  }
  .smallScreen{
    display: inline-block;
  }
  .bigScreen
  {
    display: none;
  }
  .btn
  {
    margin: 0;
  }
}


.lightBacking .btn {
  background-color: #b87dad;
  color: #292929;
  border: solid #511c48 4px;

}
.btn{
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 40px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  margin: 10px;
  text-decoration: none;
}

.lightBacking .btn:hover {
  background: #511c48;
  color: #bebebe;
}

.darkBacking .btn {
  background-color: #511c48;
  color: #bebebe;
  border: solid #b87dad 4px;
}

.darkBacking .btn:hover {
  background: #b87dad;
  color: #292929;
}

.topBorder{
  border-top: 20px;
  border-top-color: #b87dad;
  border-top-style: double;
  /* width: 80%; */
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.bottomBorder
{
  border-bottom: 20px;
  border-bottom-color: #b87dad;
  border-bottom-style: double;
  /* width: 80%; */
  border-top: none;
  border-left: none;
  border-right: none;

}

.bigRedButton{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: solid black 10px;
  background-color: #E00070;
  margin: auto;
}
.big{
  height: 200px;
  width: 200px;
}
.simonBtn{
  height: 100px;
  width: 100px;
  margin: 10px;
  border: solid black 10px;
  border-radius: 25px;
}

.bigRedButton:hover{
  box-shadow: 0 0 25px #292929;
}
